//- TODO: user search and add
//- TODO: how to handle non-user members?  new table?
//- TODO: LABEL table

form#band-details(method="post" action=`/bands/${band.id}/edit`)
  .form-row
    .col-md-4.mb-3
      .form-group
        label(for="bandName") Name
        input#bandName.form-control(type="text" name="band[name]" placeholder="Band Name" value=`${band.name}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandGenreId") Genre
        select(class="form-control" name="band[genreId]" id="bandGenreId" required="")
          each genre in genres
            if genre.id === band.genre.id
              option(value=`${genre.id}` selected="selected") #{genre.name}
            else
              option(value=`${genre.id}`) #{genre.name}
    .col-md-4.mb-3
      .form-group
        label(for="bandTagline") Tagline
        input#bandTagline.form-control(type="text" name="band[tagline]" placeholder="Tagline" value=`${band.tagline}` required="")
  .form-row
    .col-md-12.mb-12
      .form-group
        label(for="bandDescription") Description
        textarea#bandDescription.form-control(rows="3" name="band[description]") #{band.description}
  .form-row
    .col-md-4.mb-3
      .form-group
        label(for="bandBandcamp") Bandcamp
        input#bandBandcamp.form-control(type="text" name="band[bandcamp]" placeholder="Last name" value=`${band.bandcamp}`)
    .col-md-4.mb-3
      .form-group
        label(for="bandWebsite") Website
        input#bandWebsite.form-control(type="text" name="band[website]" placeholder="Last name" value=`${band.website}`)
    .col-md-4.mb-3
      .form-group
        label(for="bandLabel") Label
        input#bandLabel.form-control(type="text" name="band[label]" placeholder="Last name" value=`${band.label}`)
  .form-row
    .col-md-4.mb-3.d-none
      .form-group
          label(for="bandAddressId") AddressId
          input#bandAddressId(type="number" name="address[id]" value=`${band.address.id}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressStreet") Street
        input#bandAddressStreet.form-control(type="text" name="address[street]" placeholder="555 Example Ln." value=`${band.address.street}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressLineOne") Street Additional
        input#bandAddressLineOne.form-control(type="text" name="address[lineOne]" placeholder="ex: Apt 45" value=`${band.address.lineOne}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressCity") City
        input#bandAddressCity.form-control(type="text" name="address[city]" placeholder="City" value=`${band.address.city}` required="")
  .form-row
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressState") State
        input#bandAddressState.form-control(type="text" name="address[state]" placeholder="State" value=`${band.address.state}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressZip") Zip
        input#bandAddressZip.form-control(type="text" name="address[zipCode]" placeholder="Zip" value=`${band.address.zipCode}` required="")
    .col-md-4.mb-3
      .form-group
        label(for="bandAddressCountry") Country
        input#bandAddressCountry.form-control(type="text" name="address[country]" placeholder="Country" value=`${band.address.country}` required="")
  .form-row
    button.btn.btn-primary.right(type="submit") Submit form
