extends ../layout.pug
block content
  h1 #{bandDetails.name}
  h3 #{bandDetails.genre.name}
  h3 #{bandDetails.bandcamp}
  h3 #{bandDetails.label}
  h3 #{bandDetails.website}

  //- shows

  //- members
